	body {
		background-color: #3333FF;
		margin: 0px;
		overflow: hidden;
		}


	#controls { 
		position:absolute; 
		width: 100%; 
		text-align:left; 
		margin:1em 0 -4.5em 0; 
		z-index:1010; 
		}
	
	#slideTitle { 
		font-size: 125%; 
		}
	
	#slideText { 
		position:absolute; 
		width: 80%; 
		left: 50%;
		margin-left: -40%;
		top: 40px;
		
		text-align:left; 
		padding: 0.5em;
		z-index:1001; 
		font-family: optima, arial, sans-serif;

		font-size: 200%;
		color: white;
		
		background-color:rgba(0,0,0,0.80);

		}
	
	#triptychCode { 
		position:absolute; 
		width: 80%; 
		left: 50%;
		margin-left: -40%;
		top: 40px;
		
		text-align:left; 
		padding: 0.5em;
		z-index:1001; 
		font-family: "lucida console", courier, monospace;

		font-size: 150%;
		color: blue;
		
		background-color:rgba(255,255,255,0.95);
		}

	#cytoscapeLayout { 
		position:absolute; 
		width: 100%; 
		
		
		text-align:center; 

		z-index:1005; 

		
		background-color:rgba(255,255,255,1);
		}

	